![logo_ironhack_blue 7](https://user-images.githubusercontent.com/23629340/40541063-a07a0a8a-601a-11e8-91b5-2f13e4e6b441.png)

# Lab | Inferential statistics - T-test & P-value

## Instructions

1. *One tailed t-test* - In a packing plant, a machine packs cartons with jars. It is supposed that a new machine will pack faster on the average than the machine currently used. To test that hypothesis, the times it takes each machine to pack ten cartons are recorded. The results, in seconds, are shown in the tables in the file `files_for_lab/machine.txt`.
   Assume that there is sufficient evidence to conduct the t test, does the data provide sufficient evidence to show if one machine is better than the other?

2. *Matched Pairs Test* - In this challenge we will compare dependent samples of data describing our Pokemon (file `files_for_lab/pokemon.csv`). Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. Compare the two columns to see if there is a statistically significant difference between them and comment your result.


## Inferential statistics - ANOVA

Note: The following lab is divided in 2 sections which represent activities 3 and 4.

### Part 1

In this activity, we will look at another example. Your task is to understand the problem and write down all the steps to set up ANOVA. After the next lesson, we will ask you to solve this problem using Python. Here are the steps that you would need to work on:
    - Null hypothesis
    - Alternate hypothesis
    - Level of significance
    - Test statistic
    - P-value
    - F table

#### Context

Suppose you are working as an analyst in a microprocessor chip manufacturing plant. You have been given the task of analyzing a plasma etching process with respect to changing Power (in Watts) of the plasma beam. Data was collected and provided to you to conduct statistical analysis and check if changing the power of the plasma beam has any effect on the etching rate by the machine. You will conduct ANOVA and check if there is any difference in the mean etching rate for different levels of power. You can find the data `anova_lab_data.xlsx` file in the `files_for_lab` folder  

- State the null hypothesis
- State the alternate hypothesis
- What is the significance level
- What are the degrees of freedom of model, error terms, and total DoF

Data was collected randomly and provided to you in the table as shown: [link to the image - Data](https://education-team-2020.s3-eu-west-1.amazonaws.com/data-analytics/7.05/7.05-lab_data.png)


### Part 2

- In this section, use the Python to conduct ANOVA.
- What conclusions can you draw from the experiment and why?

## Imports

In [1]:
import numpy as np
import pandas as pd

import scipy.stats as st

## One Tailed T-Test

Hypothesis
$$H0: \mu_{New} <= \mu_{Old}$$
$$H1: \mu_{New} > \mu_{Old}$$

In [2]:
machine = pd.read_csv("files_for_lab/machine.txt", encoding = "utf-16", sep = "\t", names = ["New", "Old"], header=0)
machine

    New   Old
0  42.1  42.7
1  41.0  43.6
2  41.3  43.8
3  41.8  43.3
4  42.4  42.5
5  42.8  43.5
6  43.2  43.1
7  42.3  41.7
8  41.8  44.0
9  42.7  44.1

In [3]:
machine["New"].mean(), machine["Old"].mean()

(42.14, 43.230000000000004)

In [4]:
ab_t, ab_p = st.ttest_ind(machine["New"], machine["Old"], alternative="greater", equal_var=False)
ab_t, ab_p

(-3.397230706117603, 0.998378875266841)

In [5]:
ab_cv = st.t.ppf(0.95, df = len(machine["New"])+len(machine["Old"]-2))
ab_cv

1.7247182429207857

In [6]:
ab_t < ab_cv

True

In [7]:
ab_a = st.t.cdf(ab_t, df = len(machine["New"])+len(machine["Old"]-2))
ab_a

0.0014297799909483908

In [8]:
ab_a < 0.95

True

H0 is accepted, the new machine is faster

## Matched Pairs Test

Hypothesis:
$$H0: \mu_{Attack} = \mu_{Defense} → \mu_{Attack} - \mu_{Defense} = 0$$
$$H1: \mu_{Attack} \neq \mu_{Defense} → \mu_{Attack} - \mu_{Defense} \neq 0$$

### Population

In [9]:
pokemon = pd.read_csv("files_for_lab/pokemon.csv", index_col = 0)
pokemon.head()

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [10]:
pokemon["Attack"].mean(), pokemon["Defense"].mean()

(79.00125, 73.8425)

In [11]:
mp_t, mp_p = st.ttest_rel(pokemon["Attack"], pokemon["Defense"])
mp_t, mp_p

(4.325566393330478, 1.7140303479358558e-05)

In [12]:
mp_cv_u = st.t.ppf(1-(0.05/2), df = pokemon.shape[0]-1)
mp_cv_l = st.t.ppf((0.05/2), df = pokemon.shape[0]-1)
mp_cv_u, mp_cv_l

(1.9629374611056056, -1.962937461105606)

In [13]:
mp_cv_u >= mp_t >= mp_cv_l

False

In [14]:
mp_a = st.t.cdf(mp_t, df = pokemon.shape[0]-1)
mp_a

0.9999914298482603

In [15]:
(1-(0.05/2)) >= mp_a >= (0.05/2)

False

H0 is rejected, Attack and Defense are not equal

### Sample

In [25]:
sample = pokemon[["Attack", "Defense"]].sample(30)
sample

     Attack  Defense
#
548      35       50
396      55       30
273      40       50
260     110       90
177      50       45
545     100       89
576      55       95
26       90       55
298      20       40
115      95       80
558      95      125
83       65       55
478      80       70
9       103      120
142     135       85
174      30       15
14       25       50
659      36       38
58       70       45
371      75       60
170      38       38
687      92       88
515      53       48
164      50       50
82       60       95
87       70       80
119      92       65
208      85      200
675     124       78
539     125       75

In [26]:
sample["Attack"].mean(), sample["Defense"].mean()

(71.76666666666667, 70.13333333333334)

In [27]:
mp_t, mp_p = st.ttest_rel(sample["Attack"], sample["Defense"])
mp_t, mp_p

(0.27633354971137897, 0.7842517656949891)

In [34]:
mp_cv_u = st.norm.ppf(1-(0.05/2))
mp_cv_l = st.norm.ppf((0.05/2))
mp_cv_u, mp_cv_l

(1.959963984540054, -1.9599639845400545)

In [35]:
mp_cv_u >= mp_t >= mp_cv_l

True

In [33]:
mp_a = st.norm.cdf(mp_t)
mp_a

0.6088540551146175

In [36]:
(1-(0.05/2)) >= mp_a >= (0.05/2)

True

H0 is accepted, Attack and Defense are equal for a random sample

## ANOVA

### Part 1

- Null hypothesis: there is NO difference in etching rate
- Alternate hypothesis: there is difference in etching rate
- Level of significance: 0.05

In [16]:
anova = pd.read_excel("files_for_lab/anova_lab_data.xlsx", header = 0, names = ["Power", "Rate"])
anova.head()

   Power  Rate
0  160 W  5.43
1  180 W  6.24
2  200 W  8.79
3  160 W  5.71
4  180 W  6.71

In [17]:
anova["Power"] = pd.to_numeric(anova["Power"].apply(lambda x: x.strip(" W")))
anova.head()

   Power  Rate
0    160  5.43
1    180  6.24
2    200  8.79
3    160  5.71
4    180  6.71

In [18]:
group_anova = anova.groupby("Power")["Rate"].agg(Rate="mean", Samples="size").reset_index()
group_anova

   Power   Rate  Samples
0    160  5.792        5
1    180  6.238        5
2    200  8.318        5

In [19]:
# Degrees of Freedom
df = len(anova)-len(group_anova)
df

12

### Part 2

#### S2T and S2E

In [20]:
S2T = 0
for power in anova['Power'].unique():
    ng = len(anova[anova['Power'] == power])  
    S2T  += ((anova[anova['Power'] == power]['Rate'].mean() - anova['Rate'].mean())**2)*ng
S2T /= (anova['Power'].nunique()-1)
print("The value of S2T is {:.2f}".format(S2T))

The value of S2T is 9.09

In [21]:
S2E = 0
for power in anova['Power'].unique():
    for rate in anova[anova['Power'] == power]['Rate']:
        S2E += (rate - anova[anova['Power'] == power]['Rate'].mean())**2
S2E /= (len(anova) - anova['Power'].nunique()) 

print()
print("The value of S2E is {:.2f}".format(S2E))

The value of S2E is 0.25

#### F

In [22]:
F = S2T / S2E
print("The value of F is {:.2f}".format(F))

The value of F is 36.88

In [23]:
anova_t, anova_p = st.f_oneway(anova[anova['Power'] == 160]['Rate'],anova[anova['Power'] == 180]['Rate'],anova[anova['Power'] == 200]['Rate'])
anova_t, anova_p

(36.87895470100505, 7.506584272358903e-06)

#### Conclusion

In [24]:
anova_p > 0.05

False

H0 is rejected, therefore there IS a difference in etching rate between different powers